body{

margin:0;
font-family:Arial;

background:
/* radial-gradient(circle at top,#0f172a,#020617);
color:white; */
none;
}

.container{

padding:40px 80px;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

color:#00ffd5;
letter-spacing:2px;

}

.menu{

display:flex;
gap:30px;
list-style:none;

}

.menu li{

cursor:pointer;
transition:.3s;

}

.menu li:hover{

color:#00ffd5;

}

.hero{

display:flex;
align-items:center;
gap:50px;
margin-top:40px;

}

.hero img{

width:180px;
border-radius:50%;
border:3px solid #00ffd5;

box-shadow:0 0 30px #00ffd5;

}

.hero h1{

font-size:48px;
color:#00ffd5;

}

.grid{

margin-top:50px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.card{

background:rgba(255,255,255,.05);

border:1px solid rgba(0,255,213,.3);

padding:20px;

border-radius:15px;

transition:.3s;

}

.card:hover{

box-shadow:0 0 20px rgba(0,255,213,.4);

transform:translateY(-5px);

}

.skills{

display:flex;
flex-wrap:wrap;
gap:10px;

}

.skill{

border:1px solid #00ffd5;

padding:6px 12px;

border-radius:10px;

}

.projects{

display:flex;
flex-direction:column;
gap:10px;

}

.project{

border:1px solid rgba(255,255,255,.1);

padding:10px;

border-radius:8px;

}
