@import "tailwindcss";

@theme {
  --color-cyan-glow: rgba(34, 211, 238, 0.3);
  --color-purple-glow: rgba(168, 85, 247, 0.3);
}

/* Reset básico para eliminar espacios blancos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #050810;
  color: white;
  scroll-behavior: smooth;
}

/* Efecto de Cristal para las tarjetas */
.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}

/* Resplandor neón tipo Unity/Unreal */
.neon-border-cyan {
  border-color: rgba(34, 211, 238, 0.5);
  box-shadow: 0 0 20px rgba(34, 211, 238, 0.2);
}

.neon-border-purple {
  border-color: rgba(168, 85, 247, 0.5);
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.2);
}